body {
  background-size: 100%;
  font-size: 1rem;
}

div{
	display:block;
}

#loginBoxTitle {
  color:#000000;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #270a09, #8ca6ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="button"] {
  font-size: 1rem;
  padding: 5px 10px;
}

.login-box {
  margin:200px auto;
  justify-content:center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding:40px 30px;
  border:3px solid lightgrey; 
  width:500px;
  filter: drop-shadow(0px 0px 8px rgba(0,0,0,.5));
  text-align:center;
}

.join-box {
  margin:80px auto;
  justify-content:center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding:40px 30px;
  border:3px solid lightgrey; 
  width:500px;
  filter: drop-shadow(0px 0px 8px rgba(0,0,0,.5));
  text-align:center;
}

.form-group label {
  font-size: 1rem;
  margin:5px 0;
  padding:5px;
  width:100%;
  text-align:left;
}

#login-btn-box{
  align-items: center;
  margin-top:10px;
  background-color:black;
  color:white;
  border-radius:5px;
  width:100%;
  padding:10px;
}

.ot-btn{
  	justify-content:center;
	align-items:center;
	margin-top:20px;
	display:inline-block;
}

.ot-btn-in{
	align-items:center;
	margin:10px;
	display:inline-block;
}
